* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}
@media screen and (min-width: 368px) {        
    .pokemons {
       grid-template-columns: 1fr 1fr;} /*numero de colunas*/
}
@media screen and (min-width: 586px) {        
     .pokemons {
        grid-template-columns: 1fr 1fr 1fr;}
}
@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
        
    } .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;}
}